html{
    background-color: black;
    color: white;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

 #Mozzi{
    position: absolute;
    opacity: 0%;
    animation: aparecerTexto 5s;
} 

.content{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0%;
    animation-name: aparecerBody;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
#titulo{
    margin: 0px;
    padding: 0px;
}
table{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

tbody{
    font-size: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fechaInicial{
    width: 250px;
}

.dias{
    width: 250px;
}

#fechaDeInicio{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px;
}

.container{
    border: 1px solid white;
    display: flex;
    background-color: #ffffff;
    border-radius: 200px;
    
}

input[type="number"]{
    width: 40px;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border: none;
}
#decrement{
    color: #ffffff;
    border: none;
    background-color: #000000;
    font-size: 15px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#increment{
    color: #ffffff;
    border: none;
    background-color: #000000;
    font-size: 15px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.boton{
    color: #ffffff;
    width: 500px;
    background-color: #000000;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    border-radius: 5px;
}


@keyframes aparecerTexto {
    0% {transform: translateY(-500px);
    opacity: 0%;
    }
    80%{
        opacity: 100%;
    }
    
    100% {
        transform:translateY(0px) ;
        opacity: 0%;
    }
    
}

@keyframes aparecerBody {
    from{
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@media (max-width: 768px){
    html{
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    .content{
        height: 80%;
        width: 80%;
        font-size: 16px;
    }
    #titulo{
        width: 100%;
        font-size: 18px;
    }
    td{
        font-size: 16px;
    }
    .boton{
        width: 70%;
    }
}